[Unit]
Description=Calagopus Panel Web Service
Requires=panel-db.service panel-cache.service
After=panel-db.service panel-cache.service
Conflicts=panel-heavy.service

[Container]
Image=ghcr.io/calagopus/panel:1.1.4
Pod=panel.pod
EnvironmentFile=/etc/calagopus/panel.env
Volume=/var/lib/calagopus/panel/data:/var/lib/calagopus:Z
Volume=/var/log/calagopus/panel:/var/log/calagopus:Z
AddHost=host.docker.internal:host-gateway

[Install]
WantedBy=multi-user.target
