[Unit]
Description=Prune unused Podman images weekly on Sunday night

[Timer]
OnCalendar=Sun 03:00:00
Persistent=true

[Install]
WantedBy=timers.target
